<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDQZdcLF3JyauBGfOFdAro355bOgS1bxE</string>
	<key>GCM_SENDER_ID</key>
	<string>25789020357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.POC-Crashlytics</string>
	<key>PROJECT_ID</key>
	<string>crashlytics-34cab</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytics-34cab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25789020357:ios:379be96672a0251364d8ac</string>
</dict>
</plist>